
<h1><%= @podcast.name %></h1>

<ul class="podcast-info">

  <li> <%= "Provider: #{@podcast.provider.name}" %> </li>

  <% if @podcast.image_url %>
  <li>
    <img src="<%=@podcast.image_url%>"/>
  </li>
  <% end %>

  <% if !@podcast.categories.empty? %>
  <li>
    Categories:
    <% @podcast.categories.each do |category| %>
    <%= category.name %>
    <% end %>
  </li>
  <% end %>

  <% if !@podcast.description.nil? && !@podcast.description.empty? %>
  <li>
    <%= "Description: #{@podcast.description}" %>
  </li>
  <% end %>

  <% if !@podcast.hosts.empty? %>
  <li> Host(s):
    <% @podcast.hosts.each do |host| %>
      <%= host.name %> <br/>
    <% end %>
  </li>
  <% end %>

  <% if @podcast.release_year %>
  <li>
    <%= "Release year: #{@podcast.release_year}" %>
  </li>
  <% end %>

  <% if @podcast.itunes_url %>
  <li>
    <%= "Listen on iTunes: #{@podcast.itunes_url}" %>
  </li>
  <% end %>

  <% if @podcast.soundcloud_url %>
  <li>
    <%= "Listen on SoundCloud: #{@podcast.soundcloud_url}" %>
  </li>
  <% end %>
</ul>

<%= link_to "Edit", edit_podcast_path(@podcast) %><br />
<%= link_to "Delete", @podcast, method: :delete,
  data: { confirm: 'Are you sure?' } %><br />

<h2>Add a review</h2>
<%= form_for [@podcast, @new_review] do |f| %>
  <div class="field">
    <%= f.label :rating %>
    <%= f.text_field :rating %>
  </div>

  <div class="field">
    <%= f.label :body, "Review" %>
    <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= f.submit "Add review"%>
  </div>
<% end %>
<br/>

<div id="review-list">
  <input type="hidden" id="podcast-id" value="<%= @podcast.id %>" />
  <input type="hidden" id="current-user-id" value="<%= current_user.id %>" />
</div>

<%= link_to "Back to podcasts", podcasts_path %>
