
<h1><%= @podcast.name %></h1>

<ul>
  <li> <%= "Provider: #{@podcast.provider.name}" %> </li>

  <% if !@podcast.categories.empty? %>
  <li>
    <% @podcast.categories.each do |category| %>
     <%= "Category: #{category.name}" %>
    <% end %>
  </li>
  <% end %>

  <% if !@podcast.description.nil? && !@podcast.description.empty? %>
  <li>
    <%= "Description: #{@podcast.description}" %>
  </li>
  <% end %>

  <% if !@podcast.hosts.empty? %>
  <li> Host(s):
    <% @podcast.hosts.each do |host| %>
      <%= host.name %> <br/>
    <% end %>
  </li>
  <% end %>

  <% if @podcast.release_year %>
  <li>
    <%= "Release year: #{@podcast.release_year}" %>
  </li>
  <% end %>

  <% if @podcast.image_url %>
  <li>
    <img src="<%=@podcast.image_url%>"/>
  </li>
  <% end %>

  <% if @podcast.itunes_url %>
  <li>
    <%= "Listen on iTunes: #{@podcast.itunes_url}" %>
  </li>
  <% end %>

  <% if @podcast.soundcloud_url %>
  <li>
    <%= "Listen on SoundCloud: #{@podcast.soundcloud_url}" %>
  </li>
  <% end %>
</ul>

<%= link_to "Back", podcasts_path %>
