
<h1><%= @podcast.name %></h1>

<ul>
  <li> <%= "Provider: #{@podcast.provider.name}" %> </li>

  <% if !@podcast.categories.empty? %>
  <li>
    <% @podcast.categories.each do |category| %>
     <%= "Category: #{category.name}" %>
    <% end %>
  </li>
  <% end %>

  <% if !@podcast.description.nil? && !@podcast.description.empty? %>
  <li>
    <%= "Description: #{@podcast.description}" %>
  </li>
  <% end %>

  <% if !@podcast.hosts.empty? %>
  <li> Host(s):
    <% @podcast.hosts.each do |host| %>
      <%= host.name %> <br/>
    <% end %>
  </li>
  <% end %>

  <% if @podcast.release_year %>
  <li>
    <%= "Release year: #{@podcast.release_year}" %>
  </li>
  <% end %>

  <% if @podcast.image_url %>
  <li>
    <img src="<%=@podcast.image_url%>"/>
  </li>
  <% end %>

  <% if @podcast.itunes_url %>
  <li>
    <%= "Listen on iTunes: #{@podcast.itunes_url}" %>
  </li>
  <% end %>

  <% if @podcast.soundcloud_url %>
  <li>
    <%= "Listen on SoundCloud: #{@podcast.soundcloud_url}" %>
  </li>
  <% end %>
</ul>
<br/>

<h2>Add a review:</h2>

<%= form_for [@podcast, @review] do |f| %>
  <div class="field">
    <%= f.label :rating %>
    <%= f.text_field :rating %>
  </div>

  <div class="field">
    <%= f.label :body, "Review" %>
    <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= f.submit "Add review"%>
  </div>
<% end %>
<br/>

<% if @reviews %>
  <h2>Reviews:</h2>
  <% @reviews.each do |review| %>
    <%= review.rating %> <br/>
    <%= review.body %>
  <% end %>
<% end %>

<%= link_to "Back to podcasts", podcasts_path %>
