<div class="show-page">
  <h1><%= @podcast.name %></h1>


  <ul class="podcast-info">
    <% if @podcast.image_url != "" && !@podcast.image_url.nil? %>
      <li>
        <img src="<%= @podcast.image_url %>" class="center" width="200">
      </li>
    <% else %>
    <% end %>

    <div class="content">
      <li>
        <span class="prompt">Provider:</span> <%= @podcast.provider.name %>
      </li>

      <% if !@podcast.categories.empty? %>
      <li>
        <span class="prompt">Categories:</span> <%= @category_names.to_sentence %>
      </li>
      <% end %>

      <% if !@podcast.description.nil? && !@podcast.description.empty? %>
      <li>
        <span class="prompt">Description:</span> <%= @podcast.description %>
      </li>
      <% end %>

      <% if !@podcast.hosts.empty? %>
      <li>
        <span class="prompt">Host(s):</span> <%= @host_names.to_sentence %>
      </li>
      <% end %>

      <% if @podcast.release_year %>
      <li>
        <span class="prompt">Release year:</span> <%= @podcast.release_year %>
      </li>
      <% end %>

      <% if @podcast.itunes_url != "" %>
      <li>
        <a target="_blank" href="<%= @podcast.itunes_url %>">Listen on iTunes</a>
      </li>
      <% end %>

      <% if @podcast.soundcloud_url != "" %>
      <li>
        <a target="_blank" href="<%= @podcast.soundcloud_url %>">Listen on SoundCloud</a>
      </li>
      <% end %>
    </div>
  </ul>

  <br/>

  <% if current_user || current_admin %>
    <% if admin_signed_in? == true || (current_user.id == @podcast.user.id)  %>
      <%= link_to "Edit", edit_podcast_path(@podcast), class: "edit-delete" %>
      <%= link_to "Delete", @podcast, method: :delete,
      data: { confirm: 'Are you sure?' }, class: "edit-delete" %>
    <% end %>
  <% end %>

  <h1>Reviews</h1>
  <% if current_user || current_admin %>
    <h2>Add a review</h2>
    <%= form_for [@podcast, @new_review] do |f| %>
      <div class="field">
        <%= f.label :rating, "Rating (1-5)" %>
        <%= f.text_field :rating %>
      </div>

      <div class="field">
        <%= f.label :body, "Review" %>
        <%= f.text_area :body %>
      </div>

      <div class="actions">
        <%= f.submit "Add review"%>
      </div>
    <% end %>
  <% end %>
  <br/>

  <div id="review-list">
    <input type="hidden" id="podcast-id" value="<%= @podcast.id %>" />
    <% if current_user %>
      <input type="hidden" id="current-user-id" value="<%= current_user.id %>" />
    <% else %>
      <input type="hidden" id="current-user-id" value="0" />
    <% end %>
    <input type="hidden" id="admin" value="<%= admin_signed_in? %>" />
  </div>
  <br/>

  <%= link_to "Back to podcasts", podcasts_path %>
</div>
