
<h1><%= @podcast.name %></h1>

<ul>
  <li> <%= @podcast.provider.name %> </li>
  <li>
    <% if @podcast.description %>
    <%= @podcast.description %>
    <% end %>
  </li>
  <li>
    <% if @podcast.hosts %>
      <% @podcast.hosts.each do |host| %>
        <%= host.first_name host.last_name %>
      <% end %>
    <% end %>
  </li>
</ul>

<%= link_to "Back", podcasts_path %>
