<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "CastHub" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text title"><a href="/">Podcast Your Votes</a></li>
          <li>
            <a href="#"></a>
            <ul class="menu vertical">
              <li><a href="/podcasts/new">Add Podcast</a></li>
              <li><a href="https://www.soundcloud.com">Soundcloud</a></li>
              <li><a href="https://www.itunes.com">iTunes</a></li>
            </ul>
          </li>

        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <% if admin_signed_in? %>
            <div><%= image_tag current_admin.avatar_url(:thumb) %></div>
            <li>Signed in as <%= current_admin.email %></li>
            <li><%= link_to "Admin Sign out", destroy_user_session_path, method: :delete %></li>
            <li><%= link_to "Admin Account settings", edit_user_registration_path, method: :get %></li>
          <% elsif user_signed_in? %>

            <li class = "avatar"><%= image_tag current_user.avatar_url(:thumb) %></li>
            <li></li>
            <li>Signed in as <%= current_user.name %></li>
            <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
            <li><%= link_to "Account settings", edit_user_registration_path, method: :get %></li>
          <% else %>
            <li><%= link_to "Admin Sign in", new_admin_session_path %></li>
            <li><%= link_to "Admin Sign up", new_admin_registration_path %></li>
            <li><%= link_to "Sign in", new_user_session_path %></li>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
          <% end %>
          <li><input type="search" placeholder="Search"></li>
          <li><button type="button" class="button">Search</button></li>
        </ul>
      </div>
    </div>
    <div class="flash">
      <% flash.each do |key, value| %>
        <%= value %>
      <% end %>
    </div>

    <%= yield %>

  </body>
</html>
